/* war crimes */

body {
    background-color: azure;
}

img {
    width: 120px;
    height: 120px;
    translate: 40px;
}

.sideways {
    transform: rotate(-90deg) translateY(-10px);
}

.diagonal {
    transform: rotate(-45deg) translateY(-10px);
}

.pushleft
{
    translate: -80px;
}

.sideways
{
    transform: rotate(-90deg);
}

.diagonal
{
    transform: translateX(-80px) rotate(-45deg);
}