body {
    background-color: lightskyblue;
}

.clickable {
    cursor: pointer;
    outline: 2px solid black;
}

.relationshipPosition {
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
}

.rotated {
    rotate: 180deg;
}